*{
    margin:0;
    padding: 0;
}
body{
    background:#333;
}
.reciapp{
    text-align: center;
    padding-bottom: 10px;
    color: gold;
}
.container{
        background-color: #4158D0;
        
        max-width: 470px;
        margin: 100px auto 0;
        border-radius: 10px;
        padding: 30px;   
}
.tbox{
    margin-left: 100px;
    font-size: large;
    font-weight: bolder;
    color: black;
    border: 0px;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: 0;
    padding-left: 10px;
}
.tbox::placeholder{
    color:white;
}
.search{
    background:transparent;
    border: 0;
    font-size: larger;
    font-weight: bold;
    padding-top: 10px;
    padding-left:20px
}
.search:hover{
    color: white;
     
}
.result{
    color:white;
}
#recipe pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2.5em 1.2em 1.2em 1.2em;
}
#recipe{
    position: relative;
    background-color: black;
    min-height: 100%;
    color: white;
    width: 100%;
    display: none;
}
#hide{
    margin-left: 450px;
    font-size: large;
    font-weight: bold;
    width: 20px;
    margin-right: 20px;
    background-color: black;
    color: white;
    border: 0;
    padding-top: 5px;
    padding-right: 5px;
   
}
.details{
    text-align: center;
    padding-top: 10px;
    color: yellow;
    font-weight: 600;
}
.sub{
    color: white;
}
#show{
    margin-left:70%;
    position: relative;
    top: 20px;
    height: 30px;
    width: 150px;
    font-size: medium;
    font-weight: bolder;
    background-color: yellow;
    border: 0;
    padding-left:10px;
    padding-right: 10px;
}
#ingredientcon{
    padding-left: 40px;
    font-weight: 800;
    color: black;
    
}
.err1{
    padding-top: 10px;
    text-align: center;
    color: red;
    font-weight: bolder;
}
.err2{
    padding-top: 10px;
    text-align: center;
    color: red;
    font-weight: bolder;
}
@media only screen and (max-width:600px){
    .container{
        background-color: #4158D0;
        width:60%;
        margin: 100px auto 0;
        border-radius: 10px;
        padding: 30px;
        position: absolute;
        top:50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%,-50%);
       

    }
    .tbox{
        margin-left:15px;
        width:200px;
    }
    .tbox::placeholder{
        color:white;
        font-size: medium;
    }
    .search{
        background:transparent;
        border: 0;
        font-size: medium;
        font-weight: bold;
        padding-top: 10px;
        padding-left:5px;
        
    }
    .sholders{
        display: flex;
    }
    #hide{
        margin-left: 20px;
    }
    #show{
        margin-left:40%;
        position: relative;
       
        top: 20px;
        height: 30px;
        width: 100px;
        font-size:small;
        font-weight: bolder;
        background-color: yellow;
        border: 0;
        padding-left:10px;
        padding-right: 10px;
    }
   
}
